<launch>
        <node name="info" pkg="interaccion" type="Info" />
        <node name="valoration" pkg="interaccion" type="Valoracion" />
        <node name="posicion" pkg="interaccion" type="Posicion" />
        <node name="empaquetar" pkg="interaccion" type="empaquetador_nodo" />
        <node name="pantalla" pkg="interaccion" type="dialogo_nodo" output="screen" launch-prefix="xterm -e" />
</launch>
