<launch>
  <node name="empaquetar" pkg="ROSIntro" type="empaquetador_nodo" output="screen" launch-prefix="xterm -e"/>
    <arg name="path" default="$(find ROSIntro)/include/" />
    <arg name="file_1" default="tester" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 10 $(arg path)$(arg file_1).bag "/>  />
  </launch>
